:root {
  --primary-color: #bf1109;
  --secondary-color: #14a83a;
  --primary-dark-color: #0c0c1c;
  --orange-color: #ffb200;
  --white-color: #ffffff;
  --gray-color: #f7f1e1;
  --gray-light-color: #f5f5f5;
  --text-color: #484848;
  --heading-font: "Barlow Condensed", sans-serif;
  --body-font: "Hanken Grotesk", sans-serif;
}

body {
  font-family: var(--body-font);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}
/* navbar cs */
.main-menu {
  background: transparent;
}
@media (max-width: 991px) {
  .main-menu {
    background: var(--primary-dark-color);
  }
  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y)
      var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    /* color: var(--bs-navbar-color); */
    background-color: var(--white-color);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
}
.main-menu .nav-item .nav-link {
  color: var(--white-color) !important;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu .nav-item .nav-link:focus,
.main-menu .nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}
/* banner css */
.banner {
  background: url("images/hero/home-one_img-one.jpg") no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.banner-content {
  height: 100vh;
  margin-top: 50px;
  padding: 100px 0;
}
.banner-content h5 {
  font-size: 20px;
  color: var(--orange-color);
  font-weight: 700;
  text-transform: uppercase;
}
.banner-content h1 {
  font-size: 100px;
  color: var(--white-color) !important;
  font-weight: 700;
  margin: 18px 0;
  line-height: 110px;
}
.banner-content h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray-light-color) !important;
}
.btn-order {
  margin-top: 20px;
}
.btn-order {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  padding: 18px 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.banner-animation-img-one {
  position: absolute;
  bottom: 0;
  right: 0;
}
.banner-animation-img-one img {
  width: 600px;
}
.banner-animation-img-two {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
}
.banner-animation-img-two img {
  width: 100px;
}
.cart-product-img {
  width: 60px;
  border-radius: 8px;
}
.single-cart-item {
  border-bottom: 1px solid #d3d3d3;
  /* margin-bottom: 9px; */
  padding: 10px 0;
}
#menu-section {
  background: var(--gray-color);
}
.section-title p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
}
.section-title h1 {
  font-size: 60px;
  font-weight: 800;
}
.food-menus {
  justify-content: center;
  background: #fff;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid var(--primary-color);
}
.menu-thumbnail {
  width: 230px;
  margin: 30px auto;
  height: 200px;
}
.menu-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.single-menu-item {
  background: #fff;
  border-radius: 6px;
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.overly-bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  transition: all 0.5s ease;
  z-index: -1;
}
.menu-img img {
  background: #fff;
  border: 2px solid red;
  border-radius: 50%;
  padding: 10px;
}
.single-menu-item:hover .overly-bg {
  top: -60%;
}
