@font-face {
  font-family: "Metropoli_regular";
  src: url("fonts/Metropolis-Regular.otf");
}
@font-face {
  font-family: "Metropoli_bold";
  src: url("fonts/Metropolis-Bold.otf");
}

:root {
  --primary-bg: #1abc9c;
  --secondary-bg: #2c3e50;
  --text-primary: #2c3e50;
  --text-secondary: #1abc9c;
  --text-white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

.justify-content-center {
  justify-content: center;
}

.align-item {
  align-items: center;
}

nav {
  background: var(--secondary-bg);
  color: var(--text-white);
  padding: 20px 0;
}
.main-menu {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.main-menu li a {
  color: var(--text-white);
  display: inline-block;
  padding: 10px 24px;
  font-size: 24px;
  font-weight: 500;
}
.main-menu li a:hover {
  color: var(--text-secondary);
}

.logo {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
}
/* banner css */

.banner {
  background: var(--primary-bg);
  padding: 80px 0;
}

.banner-content {
  text-align: center;
}

.banner-content img {
  width: 250px;
}

.banner-content h1 {
  font-size: 58px;
  color: var(--text-white);
}
.banner-content p {
  font-size: 22px;
  color: var(--text-white);
}
.btn-action {
  display: inline-block;
  background: var(--secondary-bg);
  padding: 14px 22px;
  color: #fff;
  font-weight: 600;
  border-radius: 28px;
  margin-top: 28px;
}

/* about */
.section-padding {
  padding: 50px 0;
}
.section-title {
  text-align: center;
  font-size: 28px;
  color: var(--text-primary);
}
.about-content p {
  font-size: 18px;
}
.skills {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}
.skills li {
  background: var(--secondary-bg);
  color: var(--text-white);
  padding: 4px 8px;
  border-radius: 16px;
}
/* portfolio */
.portfolio {
  background: #e9eef2;
}

.portfolio-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 6px #686868;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.portfolio-card-body {
  padding: 16px 24px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #1abc9c;
  transition: 1s;
  transform: scale(0.5);
  opacity: 0;
}
.portfolio-card:hover .portfolio-card-body {
  transform: scale(1);
  opacity: 1;
}
.portfolio-content {
  text-align: center;
  padding: 32px 10px;
}
.project-title {
  font-size: 32px;
  font-weight: 500;
  color: var(--text-white);
}

.project_links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.project_links a {
  display: inline-block;
  background: var(--secondary-bg);
  padding: 6px 18px;
  border-radius: 19px;
  color: #fff;
  transition: 0.5s;
}
.project_links a:hover {
  background: orangered;
}
/* css 2d transform */
.css2d {
  width: 150px;
  position: relative;
  border: 1px solid blue;
  background: red;
  overflow: hidden;
}
.css2d img {
  transition: 1s;
}
.css2d img:hover {
  /* transform: translate(200px, 200px); */
  /* transform: rotate(360deg); */
  /* transform: scale(1.3); */
  transform: skew(-45deg);
}
